<%-include('../includes/head')%>
<body class="text-gray-800 font-family">
    <div class="space-y-6 phone:space-y-4 overflow-x-hidden">
        <%-include('../includes/nav')%>
        
        <div class="hidden h-24" id="space">&nbsp;</div>
        <main class="space-y-12 tablet:space-y-10" id="main">
            <div class="space-y-2">
                <h2 class="text-md text-center">EDIT PRODUCT <%=product.name%></h2>
                <p class="text-xs text-gray-400 text-center">You want to delete the product, click <a href="" class="p-4 btn bg-yellow-200 hover:bg-yellow-300 text-white">DELETE</a></p>
            </div>   
            <div class="border-2 border-yellow-100 shadow-md p-8 text-sm w-8/12 mx-auto tablet:p-2 tablet:w-10/12 phone:p-1 phone:w-full">
                <form action="" class="space-y-7" id="EditProductForm" enctype="multipart/form-data">
                    <p class="text-xs text-gray-400 text-center">Please provide the details below</p>
                <input type="text" required value="<%=product.category%>" name="category" placeholder="Category*" class="border-2 rounded p-2 w-full" name="category" id="category">
                <div class="">
                    <div class="space-y-2 mb-4" id="img_parent">
                        <input type="file" id="file_upload" name="images" multiple='multiple' style="display: none;" accept="image/jpeg, image/png, image/jpg" name="images" multiple="multiple">
                        <input type="hidden" name="img_files" value="<%=product.img_files%>">
                        <h2 class="font-bold">Add Photos</h2>
                        <small class="text-xs text-gray-500">You can not delete, rather add to the existing photos.</small><br>
                        <small class="inline text-xs text-gray-500 col-span-2"><%=product.img_files.length%> photo(s) was(were) used when product was created</small>
                    </div>
                    <div class="flex align center">
                        <a href="#" class="">
                            <svg onclick="_upload()" class="w-24 h-24 bg-yellow-200 rounded-full p-2 hover:bg-yellow-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        </a>
                        <div class="grid grid-cols-4 gap-2 space-y-2 ml-12" id="img_div">
                            
                        </div>
                        
                    </div>
                </div>
                <div class="space-x-2">
                    <input value="<%=product.name%>" type="text" name="name" required placeholder="Product Name*" class="border-2 rounded p-2 w-5/12 mr-6"> 
                    <!-- <div></div> -->
                    <div class="relative mr-6 inline-block w-3/12 border-2 rounded phone:w-5/12">
                        <div class="absolute left-0 top-0 bg-yellow-100 border-2 h-full w-10 text-2xl text-center">
                            #
                        </div>
                        <input type="number" required name="new_price" class="rounded border-0 p-2 text-center" placeholder="Price*" value="<%=product.new_price%>">
                    </div>
                    <input type="hidden" name="old_price" value="<%=product.new_price%>">
                    <span class="inline text-xs text-gray-500">#<%=product.new_price%> is the latest price</span>
                    <!-- <input type="text" placeholder="Price" class="border-2 rounded p-2 w-5/12"> -->
                </div>

                <textarea required cols="30" rows="10" name="description" placeholder="Description*" class="border-2 rounded p-2 w-full focus:ring-2 focus:ring-yellow-200 focus:outline-none"><%=product.description%></textarea>
                <button type="submit" class="block p-4 btn bg-yellow-200 hover:bg-yellow-300 text-white">EDIT PRODUCT</button>
            </form>
                
            </div>            
        </main>
        <%if (product){%>
            <script>
                var slug= '<%=product.slug%>';
                console.log(slug)
            </script>
        <%}%>
    <%-include('../includes/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../js/edit.js"></script>
    </body>
</html>



